/* Debug */
/* * {
	outline: lightgray dashed 1px;
} */

@font-face {
  font-family: "CMU Serif";
  src: url("./font/cmu/cmunrm.woff") format("woff"),
       url("./font/cmu/cmunrm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CMU Serif";
  src: url("./font/cmu/cmunti.woff") format("woff"),
       url("./font/cmu/cmunti.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CMU Serif";
  src: url("./font/cmu/cmunbx.woff") format("woff"),
       url("./font/cmu/cmunbx.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CMU Serif";
  src: url("./font/cmu/cmunbi.woff") format("woff"),
       url("./font/cmu/cmunbi.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	padding: 64px;
	font-family: "CMU Serif", serif;

	display: flex;
	flex-direction: column;
	gap: 16px;
}

main {
	flex-grow: 1;

	min-height: 0;

	display: flex;
	flex-direction: column;
	gap: 32px;
}

.output {
	flex-grow: 1;

	overflow-y: auto;

	list-style: none;
	counter-reset: item;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 16px;
}

.output > li::before {
	content: counter(item);
	text-align: right;
	color: lightgray;
}

.output > li {
	counter-increment: item;

	border: lightgray solid 1px;
	border-radius: 4px;
	padding: 8px;

	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 32px;
	align-items: center;
}

.output > li > div {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.result {
	display: flex;
	align-items: baseline;
	gap: 0.5em;
}

.result-symbol {
	color: gray;
}

.result-value {
	font-weight: bold;
}

.input-field::part(menu-toggle) {
	display: none;
}
