<dialog id="help-dialog" class="help-dialog">
	<div class="wrapper">
		<button id="close-button" class="close-button">x</button>

		<h2>
			<math-span id="title-symbol" class="title-symbol"></math-span>
			<span id="title-name"></span>
		</h2>

		<div id="content" class="content"></div>
	</div>
</dialog>
